/config/deploy/*
/config/deploy.rb
/Capfile
/log/*

/storage/*.key

/node_modules
/public/hot
/public/storage
/public/symlink.php
/public/css/old_files/*
/public/.htaccess

symlink.php

/.idea
/.vagrant
/vendor
.eng

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
