@import url(common.css);

@import url(horizontal_nav_top.css);
@import url(horizontal_nav_middle.css);
@import url(horizontal_nav_bottom.css);
@import url(horizontal_nav_scroll.css);

@import url(cart.css);

@import url(users_forms.css);

@import url(modal_contact_form.css);

@import url(vertical_menu.css);

@import url(slider.css);
@import url(listing_panel.css);

@import url(index_blocks_products.css);
@import url(show_product.css);

@import url(shopping_cart.css);
@import url(checkout.css);
@import url(your_orders.css);

@import url(footer.css);

@import url(admin_style.css);
@import url(admin_forms.css);

@import url(owl.theme.default.css);
@import url(owl.carousel.css);
@import url(style_slider.css);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 900px) {
    #vertical-nav-bar{
        display: none;
    }

    #carousel-example-generic{
     display: none;
    }

    #grid-menu{
        display: none;
    }

    .product{
        margin: 0 auto;
    }
}

