.cart-items::-webkit-scrollbar {
    width: 6px;
    background-color: #ECECEC;
}
.cart-items::-webkit-scrollbar-track {

}
.cart-items::-webkit-scrollbar-thumb {
    background-color: #084951;
    outline: 1px solid black;
}

ul.topBarNav li ul.cart .cart-items{
    padding: 10px;
    height: 200px;
    overflow: auto;
}

ul.topBarNav li ul.cart .cart-items .items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.topBarNav li ul.cart .cart-items .items li {
    overflow: hidden;
    clear: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

ul.topBarNav li ul.cart .cart-items .items li .product-image {
    width: 60px;
    float: left;
}
ul.topBarNav li ul.cart .cart-items .items li a {
    margin: 0;
    padding: 0;
    line-height: normal;
    background-color: transparent;
    display: inline;
}
ul.topBarNav li ul.cart .cart-items .items li .product-details {
    position: relative;
    margin-left: 60px;
    padding: 0 15px 0 10px;
}
ul.topBarNav li ul.cart .cart-items .items li .product-details .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: normal;
}
ul li ul.cart .cart-footer {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.09);
}
ul li ul.cart .cart-footer a {
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    background-color: transparent;
}

ul li ul.cart .cart-footer a:hover {
    color: #8a949d;
}

.cart-bottom-total-price{
    text-align: center;
    color: #000000;
}

ul li ul.cart .cart-items .items li a:hover{
    color: #8a949d;
}

ul li ul.cart .cart-items .items li a {
    text-decoration: none;
}
