
@charset "utf-8";

.basket strong {
    font-weight: bold;
}

.basket p {
    margin: 0.75rem 0 0;
}

.basket h1 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.basket input,
.basket button {
    border: 0 none;
    outline: 0 none;
}

.basket button {
    background-color: #666;

}

.basket button:hover,
.basket button:focus {
    background-color: #555;
}

.basket img,
.basket .basket-module,
.basket .basket-labels,
.basket .basket-product {
    width: 100%;
}

input[type="number"],
button.checkout-cta,
.basket,
.basket-module,
.basket-labels,
.item-shopping-cart,
.price-shopping-cart,
.quantity-shopping-cart,
.subtotal,
.basket-product,
.product-image-shopping-cart,
.product-details-shopping-cart {
    float: left;
}

.basket .hide {
    display: none;
}


.basket main{
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 960px;
}

.basket, aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket {
    width: 70%;
}

.basket-module {
    color: #111;
}

.basket label {
    display: block;
    margin-bottom: 0.3125rem;
}

.basket .basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
}



.basket li.price-shopping-cart:before,
.basket li.subtotal:before {
    content: '';
}

.basket .item-shopping-cart {
    width: 55%;
}

.basket .price-shopping-cart,
.quantity-shopping-cart,
.subtotal {
    width: 13%;
}

.subtotal {
    text-align: right;
}

.remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 40%;
}

.remove button {
    margin-right: 15px;
    background-color: transparent;
    color: #777;
    float: none;
    text-decoration: underline;
    text-transform: uppercase;
}

.item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket-product {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
}
.basket-product:hover {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
}

.product-image {
    margin: 15px 5px 5px 5px;
    width: 35%;
}

.product-details {
    width: 60%;
}

.product-details-shopping-cart h5{
    margin: 5px;
}

.product-frame {
    border: 1px solid #aaa;
}

.product-details {
    margin: 5px;
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quantity-field {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 2px;
    width: 3.75rem;
}

aside {
    top: 80px;
    float: right;
    position: relative;
    width: 30%;
}

.summary {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #aaa;
    padding: 1rem;
    position: fixed;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-total-items {
    color: #666;
    font-size: 0.875rem;
    text-align: center;
}

.summary-subtotal,
.summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
    color: #111;
    float: left;
    width: 50%;
}

.summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.promo-title {
    float: left;
    width: 70%;
}

.promo-value {
    color: #8B0000;
    float: left;
    text-align: right;
    width: 30%;
}

.summary-delivery {
    padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
    text-align: right;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
}

.summary-checkout {
    display: block;
}

.checkout-cta {
    color: #ffffff;
    background-color: #1ebeff;
    display: block;
    float: none;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
}


@media screen and (max-width: 640px) {
    aside,
    .basket,
    .summary,
    .item-shopping-cart,
    .remove {
        width: 100%;
    }
    .basket-labels {
        display: none;
    }
    .basket-module {
        margin-bottom: 1rem;
    }
    .item-shopping-cart {
        margin-bottom: 1rem;
    }
    .product-image {
        width: 40%;
    }
    .product-details {
        width: 60%;
    }
    .price-shopping-cart,
    .subtotal {
        width: 33%;
    }
    .quantity-shopping-cart {
        text-align: center;
        width: 34%;
    }
    .quantity-field {
        float: none;
    }
    .remove {
        bottom: 0;
        text-align: left;
        margin-top: 0.75rem;
        position: relative;
    }
    .remove button {
        padding: 0;
    }
    .summary {
        margin-top: 1.25rem;
        position: relative;
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
        padding: 0 1rem 0 0;
    }
    .summary {
        width: 28%;
    }
}

@media screen and (max-width: 960px) {
    main {
        width: 100%;
    }
    .product-details {
        padding: 0 1rem;
    }
}