

#table-shopping-cart td:first-child{
    width: 40%;
}

#table-shopping-cart td{
    width: 10%;
}
#table-shopping-cart td#cell-product-count{
    width: 20%;
}



.order_sorter {
    width: 103%;
    position: relative;
    padding-left: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 18px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.order_sorter ul {
    display: block;
    margin: 0;
    padding: 0;
}
.order_sorter li {
    list-style: none;
    display: inline-block;
    margin: 0 50px 0 0;
    position: relative;
    bottom: -1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    word-wrap: break-word;
}
.order_sorter li.first {
    margin: 0 5px;
}
.order_sorter li.selected {
    border-bottom-color: #2ab27b;
    font-weight: 700;
}
.order_sorter a {
    text-decoration: none;
    color: #555;
}

.order-summary-shopping-cart {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.order-summary-shopping-cart div {
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 23.75%;
    float: left;
    box-sizing: border-box;
    margin-right: 15px;
    text-align: center;
    border-left: 4px solid #2ab27b;
    padding: 10px;
}
.order-summary-shopping-cart div:last-child {
    margin-right: 0;
}
.order-summary-shopping-cart div h2 {
    font-size: 24px;
    font-weight: 400;
}
.order-summary-shopping-cart div h3 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}
