.slider-item-content{
    width: 99%;
    margin: 0 auto;
}

.slider{
    width: 100%;
    height: auto;
    box-shadow: 5px 10px #888888;
}

.owl-carousel{
    margin-bottom: 50px;
}

.owl-carousel .item{
    height: 300px;

    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    background-size: 90%;
    background-repeat: no-repeat;
}



.owl-next, .owl-prev{
    display: block;
    padding: 10px;
    border: 1px solid black;
    float: left;
    width: auto;
    font-size: 20px;
}

